.authContainer{
    /* background-color: aqua; */
    background-image: url(assets/imgs/bg.png);
    background-size: 100%;
    background-position: center;
}
.overLay{
    background: linear-gradient(51deg, rgba(55, 140, 47, 0.63) 0%, rgba(0, 0, 0, 0.62) 89%);

}
.sidebar-container .css-1wvake5{
    border: none;
}
.sidebar-container .ps-sidebar-container{
    background-color: #1F263E;
    border-top-right-radius: 70px;
    
    
}
.sidebar-container .ps-sidebar-container .ps-menu-button:hover{
    background-color: hsla(120, 100%, 25%, 0.227);

}
.navbar-collapse{
    width: 100%;
}
.header-container{
    background-image: url("../src/assets/imgs/header.svg");
    background-position: center;
    
    
  
}
.recipeImgContainer{
    width: 40px;
    height: 40px;
}
